@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-color: rgb(5, 2, 17); 
}

h1 {
    color: white;
    font-family: "Roboto";
    font-size: 72px;
    text-align: center;
}

p {
    color: white;
    font-family: "Roboto Thin";
    font-size: 48px;
    text-align: center;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #cacaca;
    border: none;
    color: rgb(5, 2, 17);
    text-align: center;
    font-family: "Roboto";
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    cursor: not-allowed;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .wrapper {
    text-align: center;
}

img {
    border-radius: 8px;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
